<!--<button (click)="mouseClick($event)">Test</button>

<button (click)="init($event)">INIT</button>

<button type="button" class="btn btn-primary" (click)="publish()">Publish</button>*-->

<div class="border border-primary h-100 d-flex justify-content-center align-items-center" 
[ngStyle]="{'background-color': color}"
(click)="mouseClick($event)">
    <div class="d-flex flex-column gap-2">
        <h2 class="m-0 text-center">Team {{ teamId + 1 }}</h2>
        <h1 class="m-0 text-center fw-bolder">{{secondsPassed | timerFormat}}</h1>
    </div>
</div>