<div class="d-flex flex-column gap-3">
    <h3 class="text-center m-0 fw-bold">Channel {{ channelId }}</h3>
    <div class="d-flex flex-wrap" style="height: 500px;">
        <app-timer 
        class="col-6"
        *ngFor="let item of [].constructor(options.teamCount); let i = index;"
        [timerId]="i"
        [options]="options" 
        [color]="colors[i % colors.length]" 
        [isRunning]="false"
        (activeTimerEvent)="startTimerEvent($event)">
        </app-timer>
    </div>

    <div class="d-flex flex-column gap-1">
        <h4 class="text-center m-0 fw-bold">{{ options.maxSeconds | timerFormat}}</h4>
        <div class="border border-secondary-subtle d-flex flex-wrap" style="height: 50px;">
            <app-total-timer 
            class="col-6"
            *ngFor="let item of [].constructor(options.teamCount); let i = index;"
            [totalTimerId]="i"
            [color]="colors[i % colors.length]"
            [maxSeconds]="options.maxSeconds"
            (timerFullEvent)="timerFullEvent($event)">
            </app-total-timer>
        </div>
    </div>

    <div *ngIf="winnerTeamId != null">
        <h4 class="text-center">Game Over!</h4>
        <p class="text-center">Team {{winnerTeamId + 1}} won!</p>
    </div>
</div>
